@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: rgb(248, 249, 253,);
}
*{
  margin: 0;
  padding: 0;
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
button:active {
  transform: scale(0.98);
}
button:focus {
  outline: none;
}
button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}
button:hover {
  cursor: pointer;
}
.bottom-time-top {
  margin-top: 30px;
}
.bottom-time-botom {
  margin-bottom: 30px;
}
.bottom-time {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  .bottom-time-bold {
    font-weight: bold;
  }
  .bottom-time-list {
    width: 50%;
  }
  .bottom-time-listw {
    width: 100%;
  }
}
li{
  list-style: none;
}
.mb20{
  margin-bottom: 20px;
}

.el-select-dropdown__item.selected{
  color: $g_color;
}
.el-month-table td.today .cell{
  color: $g_color;
}
.el-month-table td.current:not(.disabled) .cell {
  color: $g_color;
}
.point-hover{
  color: $g_color !important;
}
.m-box{
  width: 100%;
  text-align: left;
  background: #fff;
  border-radius: 6px;
  padding: 1.3rem 1.5rem;
}
.margin-top-20{
  margin-top: 1rem;
}

// ================ 企业端  ======================
.bossSide-container {
  margin: 20px 80px;
  .bossSide-box{
    width: 100%;
    display: flex;
    .bossSide-left-box{
      flex: 1;
    }
    .bossSide-right-box{
      width: 380px;
      padding-left: 0.8rem;
    }
  }

}
// 分页样式
.paginationBlock{
  width: 100%;
  padding: 20px;
}
.nolist-box{
  font-size: 14px;
  color: #1D2129;
  text-align: center;
  padding: 20px;
}
.redact-title-top .el-form{
  display: flex;
  flex-wrap: wrap;
}

.chat-no-data {
  position: relative;
  height: 100%;
  text-align: center;
  border-radius: 12px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.welcome-tips {
  font-size: 13px;
  width: 100%;
  margin-top: 30px;
  color: #666;
}
.paddng-10{
  padding: 0 10px;
}
.padding-left-4{
  padding-left: 4px;
}
.padding-left-6{
  padding-left: 6px;
}
.padding-left-8{
  padding-left: 8px;
}
.padding-left-10{
  padding-left: 10px;
}
.el-col{
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1466px){
  .bossSide-container{
    margin: 20px 30px;
  }
}